 /* Making a clock using javascript and css  */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Victor+Mono:wght@100;200;300;400;500;600;700&display=swap');

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Victor Mono', monospace;
 }
 body{
     min-width: 100vw;
     min-height: 100vh;
     background: #000;
 }
 .screen{
     width: 100%;
     height: 100%;
 }
 /* .heading{
     margin-bottom: 20px;
     position: absolute;
     top: 10px;
     left: 50%;
     transform: translateX(-50%);
   
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   
     
 }
 h1{
     font-family: 'Victor Mono', monospace;
     color: #fff;
     font-size: 50px;
     font-weight: 500;
 
 } */
 
 .screen .clock-border{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: #292828c8;
     box-shadow: 0 0 20px rgba(255,255,255,0.05), 0 0 40px rgba(255,255,255,0.05), 0 0 60px rgba(255,255,255,0.05), 0 0 80px rgba(255,255,255,0.05), 0 0 100px rgba(255,255,255,0.05), 0 0 120px rgba(255,255,255,0.05);
     width: 470px;
     height: 470px;
     border-radius: 50%;
 }
 .clock{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 380px;
     height: 380px;
     border-radius: 50%;
     background: #000;
 }
 .clock-border .number{
     background-color: #ffffff00;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0%;
     left: 0%;
 
     
     display: flex;
     justify-content: start;
     align-items: center;
     flex-direction: column;
     z-index: 10;
 }
 .number h3{
     /* position: absolute;
     top: 0%;
     left: 50%;
     transform: translate(-50%); */
     font-size: 30px;
     font-weight: 700;
     color: #ffffffa9;    
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .number1{
     transform: rotate(30deg);
 }
 .number2{
     transform: rotate(60deg);
 }
 .number3{
     transform: rotate(90deg);
 }
 .number4{
     transform: rotate(120deg);
 }
 .number5{
     transform: rotate(150deg);
 }
 .number6{
     transform: rotate(180deg);
 }
 .number7{
     transform: rotate(210deg);
 }
 .number8{
     transform: rotate(240deg);
 }
 .number9{
     transform: rotate(270deg);
 }
 .number10{
     transform: rotate(300deg);
 }
 .number11{
     transform: rotate(330deg);
 }
 .number12{
     transform: rotate(360deg);
 }
 
 .hand{
     transform-origin: bottom center;
 }
 
 .hour-hand{
     position: absolute;
     bottom: 50%;
     left: 50%;
     transform: translate(-50%);
     width: 10px;
     height: 120px;
     background: #fff;
     border-radius: 10px;
     transition: rotate 1s linear;
     z-index: 10;
 }
 
 .min-hand{
     position: absolute;
     bottom: 50%;
     left: 50%;
     transform: translate(-50%);
     width: 5px;
     height: 150px;
     background: #fff;
     border-radius: 10px;
     transition: rotate 1s linear;
     z-index: 10;
 
 }
 
 .second-hand{
     position: absolute;
     bottom: 50%;
     left: 50%;
     transform: translate(-50%);
     width: 2px;
     height: 170px;
     background: #ff0000;
     border-radius: 10px;
     z-index: 10;
 }
 .center-circle{
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     width: 20px;
     height: 20px;
     background: #fff;
     border-radius: 50%;
     z-index: 100;
 }
 
 
 
 .digital{
     position: absolute;
     top: 95%;
     left: 50%;
     transform: translate(-50%, -70%);
     background: #292828c8;
     width: 300px;
     height: 50px;
     padding: 0px 10px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: row;
     color: white;
     overflow: hidden;
 }
 .digital div{
     position: relative;
     background: #292828c9;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .digital h2{
     font-size: 30px;
     font-weight: 500;
     color: #fff;
     text-align: center;
     line-height: 50px;
 }
 .digital div h3{
     font-size: 30px;
     color: #fff;
     text-align: center;
 }
 .digital #second{
     margin-right: 12px;
 }
 
 @keyframes hide {
 
     0%{
         top: 50%;
         transform: translateY(-50%);
     }
     100%{
         top: -100%;
     }
     
 }
 @keyframes show {
 
     0%{
         top: 100%;
         transform: translateY(-50%);
     }
     100%{
         top: 50%;
         transform: translateY(-50%);
     }
     
 }
 
 
   /* Media queries for mobile screens */
   @media screen and (max-width: 768px) {
     .screen .clock-border {
       width: 300px;
       height: 300px;
     }
   
     .clock {
       width: 240px;
       height: 240px;
     }
   
     .clock-border .number h3 {
       font-size: 20px;
     }
   
     .hour-hand {
       width: 5px;
       height: 70px;
     }
   
     .min-hand {
       width: 3px;
       height: 90px;
     }
   
     .second-hand {
       width: 1px;
       height: 110px;
     }
   
     .center-circle {
       width: 10px;
       height: 10px;
     }
   
     .digital {
       width: 200px;
       height: 40px;
     }
   
     .digital h2 {
       font-size: 20px;
     }
   
     .digital div h3 {
       font-size: 20px;
     }
   }
   



  
.heading {
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .heading h1 {
    font-family: 'Victor Mono', monospace;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
  }
  
  .heading p {
    font-size: 14px;
    color: #fff;
  }
  